

{{> navbar_main }}
<!-- ################ navbar ################ -->


<!-- ################ main body ################ -->
<main>

    {{> navbar_avatar_and_choose_group }}

    <div class="container-fluid bg-grey px-3" id="content">
        <section class="bg-light py-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9 col-md-8">
                        <h1 class="font-weight-bold mb-0">Skupine</h1>
                        <p class="lead text-muted">Moje skupine</p>
                    </div>
                </div>
            </div>
        </section>

        <div class="container">
            <div class="row">
                {{#each skupine as |skupina|}}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3" id="prvi">
                    <div class="accordion" id="accordionExample1">
                        <div class="card bg-danger">
                            <div class="card-header" id="headingOne">
                                <div class="mb-0">
                                    <div class="row">
                                        <div class="mr-auto">
                                            <button
                                                    class="btn btn-link btn-block text-left text-white"
                                                    type="button"
                                                    data-toggle="collapse"
                                                    data-target="#collapse"
                                                    aria-expanded="false"
                                                    aria-controls="collapseOne"
                                            >
                                                {{skupina.name}}
                                            </button>
                                        </div>
                                        <div class="d-flex justify-content-center flex-column mr-2">
                                            <button
                                                    type="button"
                                                    class="btn"
                                                    data-toggle="modal"
                                                    data-target="#spremeniSkupino"
                                                    id="groupSettings"
                                            >
                                                <img src="icons/gear.svg" height="30px" style="filter: invert()">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div
                                    id="collapse"
                                    class="collapse"
                                    aria-labelledby="headingOne"
                                    data-parent="#accordionExample1"
                            >
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li
                                                class="list-group-item d-flex justify-content-between align-items-center"
                                        >
                                            {{skupina.adminIds.name}}
                                            <span class="badge badge-primary badge-pill"
                                            >Admin</span
                                            >
                                        </li>
                                        {{#each skupina.userIds as |clan|}}
                                        <li
                                                class="list-group-item d-flex justify-content-between align-items-center"
                                        >
                                            {{clan.name}}
                                            <!--<span class="badge badge-primary badge-pill">2</span>>-->
                                            <div class="d-flex justify-content-end flex-column">
                                                <button type="button" class="btn">
                                                    <img src="icons/delete-icon.svg" height="20px">
                                                </button>
                                            </div>
                                        </li>
                                        {{/each}}
                                    </ul>
                                    <button
                                            type="button"
                                            class="btn btn-primary"
                                            data-toggle="modal"
                                            data-target="#dodajClana"
                                            data-whatever="janeznovak"
                                            id="dodajHitro1"
                                    >
                                        Dodaj člana
                                    </button>


                              </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--<div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="accordion" id="accordionExample2">
                        <div class="card naRdece">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button
                                            class="btn btn-link btn-block text-left"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#collapseTwo"
                                            aria-expanded="true"
                                            aria-controls="collapseTwo"
                                            id="košarka"
                                    >
                                        {{skupina2.imeSkupine}}
                                    </button>
                                </h2>
                            </div>

                            <div
                                    id="collapseTwo"
                                    class="collapse"
                                    aria-labelledby="headingOne"
                                    data-parent="#accordionExample2"
                            >
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li
                                                class="list-group-item d-flex justify-content-between align-items-center"
                                        >
                                            {{skupina2.admin}}
                                            <span class="badge badge-primary badge-pill"
                                            >Admin</span
                                            >
                                        </li>
                                        {{#each skupina2.clani as |clan|}}
                                        <li
                                                class="list-group-item d-flex justify-content-between align-items-center"
                                        >
                                            {{clan}}
                                            <!--<span class="badge badge-primary badge-pill">2</span>>
                                        </li>
                                        {{/each}}
                                    </ul>


                                    <!--<a class="btn btn-primary" href="#" role="button" id="dodaj1">Dodaj Člana</a>

                                    <button
                                            type="button"
                                            class="btn btn-primary"
                                            data-toggle="modal"
                                            data-target="#dodajClana"
                                            data-whatever="janeznovak"
                                            id="dodajHitro2"
                                    >
                                        Dodaj člana
                                    </button>



                                    <!--<div
                                            class="modal fade"
                                            id="exampleModal2"
                                            tabindex="-1"
                                            role="dialog"
                                            aria-labelledby="exampleModalLabel2"
                                            aria-hidden="true"
                                    >
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel2">
                                                        Dodaja člana
                                                    </h5>
                                                    <button
                                                            type="button"
                                                            class="close"
                                                            data-dismiss="modal"
                                                            aria-label="Close"
                                                    >
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form
                                                            action="#"
                                                            class="form"
                                                            id="registrationForm2"
                                                            method="post"
                                                    >
                                                        <div class="form-group">
                                                            <div class="col-xs-6">
                                                                <label for="first_name"
                                                                ><h4>Uporabniško ime člana</h4></label
                                                                >
                                                                <input
                                                                        class="form-control"
                                                                        id="UporabniškoImeClana2"
                                                                        type="text"
                                                                        placeholder="janeznovak"
                                                                />
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button
                                                            type="button"
                                                            class="btn btn-secondary"
                                                            data-dismiss="modal"
                                                    >
                                                        Preklic
                                                    </button>
                                                    <button type="button" class="btn btn-primary">
                                                        Dodajte skupino
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="accordion" id="accordionExample3">
                        <div class="card naRdece">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button
                                            class="btn btn-link btn-block text-left"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#collapseThree"
                                            aria-expanded="true"
                                            aria-controls="collapseThree"
                                            id="skupina"
                                    >
                                        Skupina
                                    </button>
                                </h2>
                            </div>

                            <div
                                    id="collapseThree"
                                    class="collapse"
                                    aria-labelledby="headingOne"
                                    data-parent="#accordionExample3"
                            >
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                    tempor, sunt aliqua put a bird on it squid single-origin
                                    coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice
                                    lomo. Leggings occaecat craft beer farm-to-table, raw
                                    denim aesthetic synth nesciunt you probably haven't heard
                                    of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="accordion" id="accordionExample4">
                        <div class="card naRdece">
                            <div class="card-header" id="headingFour">
                                <h2 class="mb-0">
                                    <button
                                            class="btn btn-link btn-block text-left"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#collapseFour"
                                            aria-expanded="true"
                                            aria-controls="collapseFour"
                                            id="šeEnaSkupina"
                                    >
                                        Še ena skupina
                                    </button>
                                </h2>
                            </div>

                            <div
                                    id="collapseFour"
                                    class="collapse"
                                    aria-labelledby="headingOne"
                                    data-parent="#accordionExample4"
                            >
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                    tempor, sunt aliqua put a bird on it squid single-origin
                                    coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice
                                    lomo. Leggings occaecat craft beer farm-to-table, raw
                                    denim aesthetic synth nesciunt you probably haven't heard
                                    of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="accordion" id="accordionExample5">
                        <div class="card naRdece">
                            <div class="card-header" id="headingFive">
                                <h2 class="mb-0">
                                    <button
                                            class="btn btn-link btn-block text-left"
                                            type="button"
                                            data-toggle="collapse"
                                            data-target="#collapseFive"
                                            aria-expanded="true"
                                            aria-controls="collapseFive"
                                            id="paŠeEna"
                                    >
                                        Pa še ena
                                    </button>
                                </h2>
                            </div>

                            <div
                                    id="collapseFive"
                                    class="collapse"
                                    aria-labelledby="headingOne"
                                    data-parent="#accordionExample5"
                            >
                                <div class="card-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                                    accusamus terry richardson ad squid. 3 wolf moon officia
                                    aute, non cupidatat skateboard dolor brunch. Food truck
                                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon
                                    tempor, sunt aliqua put a bird on it squid single-origin
                                    coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                    helvetica, craft beer labore wes anderson cred nesciunt
                                    sapiente ea proident. Ad vegan excepteur butcher vice
                                    lomo. Leggings occaecat craft beer farm-to-table, raw
                                    denim aesthetic synth nesciunt you probably haven't heard
                                    of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                    {{/each}}
            </div>
        </div>
        {{> modal_add_user }}

        {{> modal_change_group }}

        <button
                type="button"
                class="btn"
                data-toggle="modal"
                data-target="#dodajSkupino"
                id="novaSkupina"
        >
            <svg
                    width="4em"
                    height="4em"
                    viewBox="0 0 16 16"
                    class="bi bi-plus"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
            >
                <path
                        fill-rule="evenodd"
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                />
            </svg>
        </button>

        {{> modal_add_group }}
    </div>
</main>

<!-- load scripts at the end -->
<!--<script>
    $('#dodajClana').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>

<script>
    $('#dodajSkupino').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('New message to ' + recipient)
        modal.find('.modal-body input').val(recipient)
    })
</script>-->

<!-- auto refresh on change when developing "python3 -m http.server" -->
<!--    <script src="http://livejs.com/live.js"></script>-->
